{
	"trailingComma": "es5",
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": false,
	"overrides": [
		{
			"files": "*.html",
			"options": {
				"printWidth": 500
			}
		}
	]
}
