{% extends "core/base.html" %}
{% block content %}
    {% load static %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Upraviť profil</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="bg-light p-4 border rounded shadow-sm">
                    <form method="POST" class="row g-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            {% if form.username.errors %}
                                <div class="alert alert-danger small mt-2">
                                    {% for error in form.username.errors %}<p>{{ error }}</p>{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.first_name.label_tag }}
                            {{ form.first_name }}
                            {% if form.first_name.errors %}
                                <div class="alert alert-danger small mt-2">
                                    {% for error in form.first_name.errors %}<p>{{ error }}</p>{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                            {% if form.last_name.errors %}
                                <div class="alert alert-danger small mt-2">
                                    {% for error in form.last_name.errors %}<p>{{ error }}</p>{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="alert alert-danger small mt-2">
                                    {% for error in form.email.errors %}<p>{{ error }}</p>{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.phone.label_tag }}
                            {{ form.phone }}
                            {% if form.phone.errors %}
                                <div class="alert alert-danger small mt-2">
                                    {% for error in form.phone.errors %}<p>{{ error }}</p>{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="text-center mt-3">
                            <a href="{% url 'password_reset' %}" class="btn btn-secondary w-100">Obnoviť heslo</a>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary w-100">Uložiť zmeny</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br />
{% endblock %}
