{% extends "core/base.html" %}
{% block content %}
    {% load static %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Upraviť rezerváciu</h2>
        <form method="POST" class="row g-3">
            {% csrf_token %} {{ form.as_p }}
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Uložiť zmeny</button>
                <a href="{% url 'reservations' %}" class="btn btn-secondary">Späť</a>
            </div>
        </form>
    </div>
{% endblock %}
