<div class="container text-center">
	<div class="row">
		<div class="col-md-12">
			<p class="mb-1">&copy; 2024 INŠTALATÉRSTVO BILICKÝ s.r.o.</p>
			<div class="d-flex justify-content-center">
				<a class="text-light mx-3"
					href="https://mail.google.com/mail/?view=cm&fs=1&to=instalaterstvo.bilicky@gmail.com"
					target="_blank"> Gmail </a>
				<a class="text-light mx-3"
					href="https://www.facebook.com/people/In%C5%A1talat%C3%A9rstvo-Bilick%C3%BD/100090574224600/"
					target="_blank"> Facebook </a>
				<a class="text-light mx-3" href="tel:+421905231071" target="_blank"> +421 905 231 071 </a>
			</div>
		</div>
	</div>
</div>
