{% load static %}
<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img class="header-logo"
                 src="{% static 'images/logo.jpg' %}"
                 alt="Company Logo" />
            Inštalatérstvo Bilický s.r.o.
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent"
                aria-controls="navbarToggleExternalContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse" id="navbarToggleExternalContent">
        <nav class="nav">
            <a class="collapse-item nav-link" href="{% url 'homepage' %}">Hlavná stránka</a>
            <a class="collapse-item nav-link" href="{% url 'services' %}">Služby</a>
            <a class="collapse-item nav-link" href="{% url 'booking' %}">Rezervovať termín</a>
            <a class="collapse-item nav-link" href="{% url 'login' %}">Prihlasit</a>
            <a class="collapse-item nav-link" href="{% url 'logout' %}">Odhlasit</a>
        </nav>
    </div>
</nav>
