{% extends "core/base.html" %}
{% block content %}
    {% load static %}
    <div id="carouselExampleCaptions"
         class="carousel slide"
         data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/carousel/1.jpg' %}"
                     class="d-block w-100"
                     alt="First Slide" />
                <div class="carousel-caption d-none d-md-block">
                    <div class="col-md-12">
                        <h3 class="display-5">Kvalita</h3>
                        <p class="lead">Našou doménou je kvalita a precíznosť. Vždy si dáme záležať aby bolo všetko "typ top".</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/carousel/2.jpg' %}"
                     class="d-block w-100"
                     alt="Second Slide" />
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-5">Cena</h3>
                    <p class="lead">Nikdy si nevypýtame za pracú viac ako je nevyhnutné.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/carousel/3.jpg' %}"
                     class="d-block w-100"
                     alt="Third Slide" />
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-5">Všestrannosť</h3>
                    <p class="lead">Vieme sa popasovať s čímkoľvek a kdekoľvek. Sme špecialisti vo viacerých odboroch.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="text-container">
                    <h2>Voda</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel lorem eget mauris commodo vehicula. Sed vehicula quam nec ex sagittis, ac bibendum risus luctus. Integer accumsan, nisl at varius feugiat, libero orci laoreet elit, vel porttitor libero ligula non nisi.
                    </p>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="image-container">
                    <img class="side-image"
                         src="{% static 'images/tFI933tE.jpg' %}"
                         alt="Voda" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="image-container">
                    <img class="side-image"
                         src="{% static 'images/8KNOSb5v.jpg' %}"
                         alt="Plyn" />
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="text-container">
                    <h2>Plyn</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel lorem eget mauris commodo vehicula. Sed vehicula quam nec ex sagittis, ac bibendum risus luctus. Integer accumsan, nisl at varius feugiat, libero orci laoreet elit, vel porttitor libero ligula non nisi.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div class="text-container">
                    <h2>Kúrenie</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel lorem eget mauris commodo vehicula. Sed vehicula quam nec ex sagittis, ac bibendum risus luctus. Integer accumsan, nisl at varius feugiat, libero orci laoreet elit, vel porttitor libero ligula non nisi.
                    </p>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="image-container">
                    <img class="side-image"
                         src="{% static 'images/IXgs6VLc.jpg' %}"
                         alt="Kurenie" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 p-0">
                <div class="image-container">
                    <img class="side-image"
                         src="{% static 'images/TIQYD-vF.jpg' %}"
                         alt="Kotle" />
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="text-container">
                    <h2>Kotle</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel lorem eget mauris commodo vehicula. Sed vehicula quam nec ex sagittis, ac bibendum risus luctus. Integer accumsan, nisl at varius feugiat, libero orci laoreet elit, vel porttitor libero ligula non nisi.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
