{% extends "core/base.html" %}
{% block content %}
    {% load static %}
    <div class="container mt-5">
        <h1 class="text-center">Obnoviť heslo</h1>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="bg-light p-4 border rounded shadow-sm">
                    <form id="resetPasswordForm" method="post">
                        {% csrf_token %}
                        {% if message %}<div class="alert {{ message_class }}" role="alert">{{ message }}</div>{% endif %}
                        <div class="mb-3">
                            <label for="username" class="form-label">Používateľské meno:</label>
                            <input type="text"
                                   id="username"
                                   name="username"
                                   class="form-control"
                                   placeholder="Zadajte vaše používateľské meno"
                                   required />
                        </div>
                        <div class="mb-3">
                            <label for="new_password" class="form-label">Nové heslo:</label>
                            <input type="password"
                                   id="new_password"
                                   name="new_password"
                                   class="form-control"
                                   placeholder="Zadajte nové heslo"
                                   required />
                            <div class="form-check mt-2 form-switch">
                                <label for="showNewPasswordCheckbox" class="form-check-label">Zobraziť heslo</label>
                                <input type="checkbox"
                                       class="form-check-input"
                                       id="showNewPasswordCheckbox"
                                       onclick="togglePassword('new_password')">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="confirm_password" class="form-label">Potvrdiť heslo:</label>
                            <input type="password"
                                   id="confirm_password"
                                   name="confirm_password"
                                   class="form-control"
                                   placeholder="Potvrďte nové heslo"
                                   required />
                            <div class="form-check mt-2 form-switch">
                                <label for="showConfirmPasswordCheckbox" class="form-check-label">Zobraziť heslo</label>
                                <input type="checkbox"
                                       class="form-check-input"
                                       id="showConfirmPasswordCheckbox"
                                       onclick="togglePassword('confirm_password')">
                            </div>
                        </div>
                        <div id="passwordFeedback" class="text-danger mb-3" style="display: none;">Heslá sa nezhodujú!</div>
                        <button type="submit" class="btn btn-primary w-100">Obnoviť heslo</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'login' %}">Prihlásiť sa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
{% endblock %}
