{% extends "core/base.html" %}
{% block content %}
    {% load static %}
    <div id="services" class="py-5">
        <div class="container">
            <div class="text-center mb-5">
                <h2>Naše služby</h2>
                <p class="text-muted">Ponúkame široké spektrum inštalačných služieb</p>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card service-card"
                         role="button"
                         data-bs-toggle="collapse"
                         data-bs-target="#collapseService1"
                         aria-expanded="false"
                         aria-controls="collapseService1">
                        <img src="../assets/images/tFI933tE.jpg"
                             class="card-img-top"
                             alt="Service 1" />
                        <div class="card-body">
                            <h5 class="card-title">Inštalacie vody, plynu, kúrenia</h5>
                            <p class="card-text">Sme experti v obore keď ide o klasické vodo inštalácie, plyn alebo kúrenie.</p>
                            <div class="collapse mt-3" id="collapseService1">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel lorem eget mauris
                                    commodo vehicula. Sed vehicula quam nec ex sagittis, ac bibendum risus luctus. Integer
                                    accumsan, nisl at varius feugiat, libero orci laoreet elit, vel porttitor libero ligula
                                    non nisi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card service-card"
                         role="button"
                         data-bs-toggle="collapse"
                         data-bs-target="#collapseService2"
                         aria-expanded="false"
                         aria-controls="collapseService2">
                        <img src="../assets/images/services.jpg"
                             class="card-img-top"
                             alt="Service 2" />
                        <div class="card-body">
                            <h5 class="card-title">Nečakané opravy</h5>
                            <p class="card-text">Dostupný skoro celý deň. Konzultácie hocikedy.</p>
                            <div class="collapse mt-3" id="collapseService2">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel lorem eget mauris
                                    commodo vehicula. Sed vehicula quam nec ex sagittis, ac bibendum risus luctus. Integer
                                    accumsan, nisl at varius feugiat, libero orci laoreet elit, vel porttitor libero ligula
                                    non nisi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card service-card"
                         role="button"
                         data-bs-toggle="collapse"
                         data-bs-target="#collapseService3"
                         aria-expanded="false"
                         aria-controls="collapseService3">
                        <img src="../assets/images/IXgs6VLc.jpg"
                             class="card-img-top"
                             alt="Service 3" />
                        <div class="card-body">
                            <h5 class="card-title">Čistenie odpadov</h5>
                            <p class="card-text">Profesionálne čistenie odpadov, trubiek.</p>
                            <div class="collapse mt-3" id="collapseService3">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel lorem eget mauris
                                    commodo vehicula. Sed vehicula quam nec ex sagittis, ac bibendum risus luctus. Integer
                                    accumsan, nisl at varius feugiat, libero orci laoreet elit, vel porttitor libero ligula
                                    non nisi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light py-5">
        <div class="container text-center">
            <h3>Potrebujete inštalatéra dnes?</h3>
            <p>Kontaktujete nás pre rýchle a kvalitné služby.</p>
            <a href="booking.html" class="btn btn-success">Rezervuj si termín</a>
        </div>
    </div>
{% endblock %}
